@model IEnumerable<BuildUCPU.DyskiTwarde>

@{
    ViewData["Title"] = "Index";
}

<h1>Dyski Twarde</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <span>@Html.DisplayNameFor(model => model.Producent)</span>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProducentSortParam"]" style="text-decoration: none;">
                    @if (ViewData["ProducentSortParam"].ToString() == "producent_desc")

                    {
                        <span>▲</span> <!-- Ikona malejąco -->
                    }

                    else if (ViewData["ProducentSortParam"].ToString() == "")

                    {
                        <span>▼</span> <!-- Ikona rosnąco -->
                    }
                </a>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.Model)</span>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ModelSortParam"]" style="text-decoration: none;">
                    @if (ViewData["ModelSortParam"].ToString() == "model_desc")

                    {
                        <span>▲</span> <!-- Ikona malejąco -->
                    }

                    else if (ViewData["ModelSortParam"].ToString() == "model")

                    {
                        <span>▼</span> <!-- Ikona rosnąco -->
                    }
                </a>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.Cena)</span>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CenaSortParam"]" style="text-decoration: none;">
                    @if (ViewData["CenaSortParam"].ToString() == "cena_desc")

                    {
                        <span>▲</span> <!-- Ikona malejąco -->
                    }

                    else if (ViewData["CenaSortParam"].ToString() == "cena")

                    {
                        <span>▼</span> <!-- Ikona rosnąco -->
                    }
                </a>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.Wydajnosc)</span>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.Kompatybilnosc)</span>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.Dostepnosc)</span>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DostepnoscSortParam"]" style="text-decoration: none;">
                    @if (ViewData["DostepnoscSortParam"].ToString() == "dostepnosc_desc")

                    {
                        <span>▲</span> <!-- Ikona malejąco -->
                    }

                    else if (ViewData["DostepnoscSortParam"].ToString() == "dostepnosc")

                    {
                        <span>▼</span> <!-- Ikona rosnąco -->
                    }
                </a>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.Gwarancja)</span>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GwarancjaSortParam"]" style="text-decoration: none;">
                    @if (ViewData["GwarancjaSortParam"].ToString() == "gwarancja_desc")

                    {
                        <span>▲</span> <!-- Ikona malejąco -->
                    }

                    else if (ViewData["GwarancjaSortParam"].ToString() == "gwarancja")

                    {
                        <span>▼</span> <!-- Ikona rosnąco -->
                    }
                </a>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.DodatkoweFunkcje)</span>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FunkcjeSortParam"]" style="text-decoration: none;">
                    @if (ViewData["FunkcjeSortParam"].ToString() == "funkcje_desc")

                    {
                        <span>▲</span> <!-- Ikona malejąco -->
                    }

                    else if (ViewData["FunkcjeSortParam"].ToString() == "funkcje")

                    {
                        <span>▼</span> <!-- Ikona rosnąco -->
                    }
                </a>
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.KompatybilnoscNavigation.Id)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Producent)</td>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.Cena)</td>
                <td>@Html.DisplayFor(modelItem => item.Wydajnosc)</td>
                <td>@Html.DisplayFor(modelItem => item.Kompatybilnosc)</td>
                <td>@Html.DisplayFor(modelItem => item.Dostepnosc)</td>
                <td>@Html.DisplayFor(modelItem => item.Gwarancja)</td>
                <td>@Html.DisplayFor(modelItem => item.DodatkoweFunkcje)</td>
                <td style="display:none">@Html.DisplayFor(modelItem => item.KompatybilnoscNavigation.Id)</td>
            </tr>
        }
    </tbody>
</table>

<a href="/Components">Powrót</a>